# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.venv/
.env/
venv/

# IDEs / editors
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Local configs
.env.local
